body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;    
}
.admin-nav{
    /*border-color:brown;
    border-style: dotted;*/
    margin-top: 9px;
    color: whitesmoke; 
    text-align: center;
    font-size: 16pt;
}
.log-out{
    
    border: 1px solid #0083b3;
    background-color:  #00a8e6;
    border-radius: 3px;
    width: 70px;
    height: 20px;
    text-align: center;
    color:whitesmoke;
    margin-top: 60px;
    margin-left: 60px;
    cursor: pointer;
    
}
.log-out:hover{
    background-color: #66d6ff;
    color:#00394d;
    box-shadow: 0 0 100px  #007099;
}
.admin-nav-bar{
    position: fixed;    
    width: 100%;
    top:0;
    overflow: hidden;
    height: 8%;
    margin:0;
    background-color: #008080;
    border-bottom: 1px solid #008080;
     
    box-shadow: 0 0 10px #003333;  
   /* border-color:brown;
    border-style: dotted;*/
    left:0;    
}
.admin-parent-div{
    /*border-color:brown;
    border-style: dotted;*/    
    margin-top:60px;  
    width: 700px; 
    height:400px;
    margin-left: 17.5%;
    padding:100px;
}
.b-div{
    text-align: center;
}
.admin-side-pane{
    position: fixed;
    margin-top: 50px;
    top:20px;
    left:10px;
    width:15%;
    height:300px;    
    background-color: #00394d; 
    /*box-shadow: 0 0 0px  #f51505; */  
    padding: 10px;
}
.backlog{
    /*border-color:brown;
    border-style: dotted;*/
    box-shadow: 0 0 5px #b3b3b3;
    padding: 10px;
    margin-top:10px;
    text-align: center;
       
}
.repair{
   /* border-color:brown;
    border-style: dotted; */
    box-shadow: 0 0 5px #b3b3b3;
    padding: 10px;
    margin-top:10px;
}
.aRepair{
    font-size: 12pt;
    color: #80b3ff;
}

.admin-side-pane2{
    position: fixed;
    margin-top: 50px;
    top:0;
    right:0;
    width:14%;
    height:100%;    
    padding: 10px;
   /* border-color:brown;
    border-style: dotted;*/
}
.filters{
    margin-top: 10px;
    /*border-color:brown;
    border-style: dotted; */ 
    color: whitesmoke;
    border-bottom:1px solid #b3b3b3;
        
}
input{
    margin-top: 10px;
}
input.checkbox{
    cursor: pointer;
}
.btnFilter{
    width: 90px;     
    background-color:  #cccccc;
    border: 1px solid  #333333;        
    cursor: pointer;
    margin-left: 40px;
    border-radius: 3px;
}
.checkfilters{
    margin-top: 5px;
    /*border-color:brown;
    border-style: dotted;*/ 
    padding:10px;
    color: whitesmoke;
    border-bottom:1px solid #b3b3b3;
}