/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: relative; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 38%;
    margin-top: 5%;
    width: 300px; /* Full width */
    height: 500px; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #e6e6e6;
    box-shadow:0 0 10px #cccccc;    
    border-color: #595959;
    padding-top: 50px;
  }


.signup-content{
    width:280px;
    height:360px;
   /* border-color:brown;
    border-style: dotted;*/
    margin-top: 25%;
    margin-left: 2%;
}

